:root{
  --primary: #ff2856;
  --secondary: #8c38ff;
  --dark: #0003b9;
  --light: #eee;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-image: linear-gradient(rgba(110, 60, 60, 0.65),rgba(0,0,0,0.85)),url(../1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  max-width: 850px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 64px rgba(0,0,0,0.5);
}

.display{
  padding: 16px;
  text-align: right;
  height: 70px;
  background-color: rgba(255, 0, 149, 0.4) ;
  color: var(--light);
  font-size: 28px;
  font-weight: 300;
}

.display span{
  font-size: 12px;
  color: rgb(218, 216, 216);
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  padding-top: 30px;
  cursor: pointer;
  transition: 0.4s;

}




.operators{
  display: flex;
  
}

.operators button{
  flex: 1 1 0%;
  background-color: rgba(255, 0, 55, 0.4) ;
  font-weight: 700;
}

.operators button:hover{
  background-color: rgba(255, 0, 149, 0.0) ;
}


.digit{
  display: flex;
  flex-wrap: wrap;
}

.digit button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  height: 80px;
  background-color: rgba(255, 0, 149, 0.4) ;
}

.digit button:hover{
  background-color: rgba(255, 0, 149, 0.0) ;
}